{% extends 'base.html' %}


{% block title %}
Home
{% endblock title %}

{% block content %}
<h1 class='text-center alert alert-info'>Student Information </h1>
<div class="container alert alert-primary">
  <div class="row">
    <div class="col-10 mx-auto ">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">S.N</th>
            <th scope="col">ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Age</th>
            <th scope="col">Email Address</th>
            <th scope="col">Address</th>
            <th scope="col">Message</th>
            <th scope="col">Image</th>
            <th scope="col">Video</th>
            <th scope="col">Action</th>

          </tr>
        </thead>
        <tbody>
          {% for i in data %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <th scope="row">{{i.id}}</th>
            <td>{{i.name}}</td>
            <td>{{i.age}}</td>
            <td>{{i.email}}</td>
            <td>{{i.address}}</td>
            <td>{{i.message}}</td>
            <td>


              {% if i.image %}
              <img src="{{i.image.url}}" height="100px" alt="">

              {% endif %}

            </td>
            <td>
              
              {% if i.video %}
                 
              <video src="{{i.video.url}}" controls height="100px" width="200px"></video>
                
              {% endif %}
             
            </td>
            <td>
              <div class="d-flex gap-2">
                <a href="{% url 'update' i.id %}"
                  class="btn btn-sm btn-outline-success d-inline-flex align-items-center">
                  <i class="fa-regular fa-pen-to-square"></i> Edit
                </a>

                <a href="{% url 'delete' i.id %}"
                  class="btn btn-sm btn-outline-danger d-inline-flex align-items-center">
                  <i class="fa-solid fa-trash"></i> Delete
                </a>
              </div>
            </td>
          </tr>

          {% endfor %}

        </tbody>
      </table>

    </div>
  </div>
</div>

{% endblock content %}