	
Dear {{name}},
 

We've received your app for review.


Ridemio Driver
iOS


Thanks for submitting Ridemio Driver for review. We know you've worked hard to develop your app, and we're excited to review it.

On average, 50 percent of apps are reviewed in 24 hours and over 90 percent are reviewed in 48 hours. Once we've completed the review, your app's status will be updated and you will be notified.

If you want to make changes to your app, you can remove your app from review, make your changes, and then resubmit it. However, please keep in mind that after you resubmit your app, your expected review time will once again be 48 hours.

Learn how to grow your business on the App Store. Take advantage of resources to help you market your app, implement exclusive App Store features, expand your audience, engage users worldwide, and much more.
Best regards,
App Review
{{date}}